Repository clerk/clerk-sdk-flutter, pull requests merged in 2024-11, with the labels that each got.

#38 fix: move constructors to top of class [CLERK_SDK #35]
  packages/clerk_auth/lib/src/models/client.dart
  packages/clerk_auth/lib/src/models/environment/auth_config.dart
  packages/clerk_auth/lib/src/models/environment/display_config.dart
  packages/clerk_auth/lib/src/models/environment/environment.dart
  packages/clerk_auth/lib/src/models/environment/organization_actions.dart
  packages/clerk_auth/lib/src/models/environment/organization_domains.dart
  packages/clerk_auth/lib/src/models/environment/organization_settings.dart
  packages/clerk_auth/lib/src/models/environment/passkey_settings.dart
  packages/clerk_auth/lib/src/models/environment/password_settings.dart
  packages/clerk_auth/lib/src/models/environment/restrictions.dart
  packages/clerk_auth/lib/src/models/environment/sign_in_settings.dart
  packages/clerk_auth/lib/src/models/environment/sign_up_settings.dart
  packages/clerk_auth/lib/src/models/environment/social_connection.dart
  packages/clerk_auth/lib/src/models/environment/user_attribute_data.dart
  packages/clerk_auth/lib/src/models/environment/user_settings.dart
  packages/clerk_auth/lib/src/models/environment/username_settings.dart
  packages/clerk_auth/lib/src/models/organization_membership.dart
  packages/clerk_auth/lib/src/models/passkey.dart
  packages/clerk_auth/lib/src/models/session_token.dart
  packages/clerk_auth/lib/src/models/strategy.dart
  packages/clerk_auth/lib/src/models/user_identifying_data.dart
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/lib/clerk_flutter.dart
  packages/clerk_flutter/lib/src/utils/clerk_translator.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_authentication_widget.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_up_panel.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_signed_in.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_signed_out.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_code_input.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_error_message.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_material_button.dart
  packages/clerk_flutter/lib/src/widgets/ui/closeable.dart
  packages/clerk_flutter/lib/src/widgets/ui/or_divider.dart
  packages/clerk_flutter/lib/src/widgets/ui/random_avatar.dart
  packages/clerk_flutter/lib/src/widgets/ui/social_connection_button.dart
  packages/clerk_flutter/lib/src/widgets/ui/strategy_button.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
Labels: package: clerk_auth, package: clerk_flutter

#43 feat: add regular poll for session token [CLERK_SDK #42]
  packages/clerk_auth/.pubignore
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/token_cache.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/http_client.dart
  packages/clerk_auth/lib/src/clerk_auth/persistor.dart
  packages/clerk_auth/lib/src/models/api_response.dart
  packages/clerk_auth/lib/src/models/environment/auth_config.dart
  packages/clerk_auth/lib/src/models/environment/display_config.dart
  packages/clerk_auth/lib/src/models/environment/user_settings.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_flutter/example/.pubignore
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth_provider.dart
Labels: package: clerk_auth, package: clerk_flutter

#48 feat: add regular poll for session token [CLERK_SDK #42] (#43)
  packages/clerk_auth/.pubignore
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/token_cache.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/http_client.dart
  packages/clerk_auth/lib/src/clerk_auth/persistor.dart
  packages/clerk_auth/lib/src/models/api_response.dart
  packages/clerk_auth/lib/src/models/environment/auth_config.dart
  packages/clerk_auth/lib/src/models/environment/display_config.dart
  packages/clerk_auth/lib/src/models/environment/user_settings.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_flutter/example/.pubignore
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth_provider.dart
Labels: clerk_auth, clerk_flutter

#49 fix: use utc for token expiry timestamps #47
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/token_cache.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/models/helpers.dart
  packages/clerk_auth/test/integration/clerk_api/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
Labels: clerk_auth

#52 chore: release v0.0.4-dev #51
  packages/clerk_auth/CHANGELOG.md
  packages/clerk_auth/README.md
  packages/clerk_auth/pubspec.yaml
  packages/clerk_flutter/CHANGELOG.md
  packages/clerk_flutter/README.md
  packages/clerk_flutter/lib/src/widgets/organization/clerk_create_organization_widget.dart
  packages/clerk_flutter/lib/src/widgets/organization/clerk_organization_profile_widget.dart
  packages/clerk_flutter/lib/src/widgets/organization/clerk_organization_switcher_widget.dart
  packages/clerk_flutter/pubspec.yaml
  packages/clerk_widgetbook/lib/widgets/organization/clerk_create_organization_widget.dart
  packages/clerk_widgetbook/lib/widgets/organization/clerk_organization_profile_widget.dart
  packages/clerk_widgetbook/lib/widgets/organization/clerk_organization_switcher_widget.dart
Labels: clerk_auth, clerk_flutter, release
