Repository clerk/clerk-sdk-flutter, pull requests merged in 2024-12, with the labels that each got.

#59 fix: switch add account routing from overlays to routes #58
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
Labels: clerk_flutter

#60 fix: remove public_key #45
  packages/clerk_auth/README.md
  packages/clerk_auth/example/main.dart
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/token_cache.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/models/helpers.dart
  packages/clerk_auth/lib/src/utils/extensions.dart
  packages/clerk_auth/pubspec.yaml
  packages/clerk_auth/test/integration/clerk_api/environment_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_auth/test/unit/clerk_api/clerk_api_test.dart
  packages/clerk_flutter/README.md
  packages/clerk_flutter/example/README.md
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth_provider.dart
Labels: clerk_auth, clerk_flutter

#62 feat: add persistor #46
  packages/clerk_auth/lib/clerk_auth.dart
  packages/clerk_auth/lib/src/clerk_auth/persistor.dart
  packages/clerk_auth/lib/src/utils/extensions.dart
  packages/clerk_flutter/README.md
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/example/pubspec.yaml
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth_provider.dart
  packages/clerk_flutter/pubspec.yaml
Labels: clerk_auth, clerk_flutter

#84 feat: add additional http request headers #76
  packages/clerk_auth/lib/clerk_auth.dart
  packages/clerk_auth/lib/clerk_constants.dart
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_auth/http_client.dart
Labels: clerk_auth

#86 feat: add check PR github action #7
  .github/workflows/main.yaml
Labels: clerk_auth, clerk_flutter
