Repository clerk/clerk-sdk-flutter, pull requests merged in 2025-06, with the labels that each got.

#172 Added Facebook as strategy
  packages/clerk_auth/lib/src/models/client/strategy.dart
Labels: clerk_auth

#179 feat: allow app defined redirects [#170]
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/models/client/strategy.dart
  packages/clerk_flutter/example/android/app/build.gradle
  packages/clerk_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/clerk_flutter/example/android/build.gradle
  packages/clerk_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/clerk_flutter/example/ios/Podfile
  packages/clerk_flutter/example/ios/Podfile.lock
  packages/clerk_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/clerk_flutter/example/ios/Runner/Info.plist
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/example/linux/flutter/generated_plugin_registrant.cc
  packages/clerk_flutter/example/linux/flutter/generated_plugins.cmake
  packages/clerk_flutter/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/clerk_flutter/example/pubspec.yaml
  packages/clerk_flutter/example/windows/flutter/generated_plugin_registrant.cc
  packages/clerk_flutter/example/windows/flutter/generated_plugins.cmake
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/generated/clerk_sdk_localizations.dart
  packages/clerk_flutter/lib/src/generated/clerk_sdk_localizations_en.dart
  packages/clerk_flutter/lib/src/utils/clerk_auth_config.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/organization/clerk_organization_profile.dart
  packages/clerk_flutter/lib/src/widgets/ui/platform_styled_dialog.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
  packages/clerk_flutter/pubspec.yaml
Labels: clerk_flutter

#189 feat: clear cookies on sign out [#188]
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/utils/clerk_auth_config.dart
Labels: clerk_flutter

#184 feat: add persistor and httpservice to clarkauthconfig [#183]
  packages/clerk_auth/example/main.dart
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/telemetry.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/auth_config.dart
  packages/clerk_auth/lib/src/clerk_auth/http_service.dart
  packages/clerk_auth/lib/src/clerk_auth/persistor.dart
  packages/clerk_auth/test/integration/clerk_api/environment_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_auth/test/unit/clerk_api/clerk_api_test.dart
  packages/clerk_flutter/example/lib/pages/clerk_sign_in_example.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/utils/clerk_auth_config.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/test/widgets/clerk_loading_overlay_test.dart
Labels: clerk_auth, clerk_flutter
