Repository clerk/clerk-sdk-flutter, pull requests merged in 2025-03, with the labels that each got.

#149 fix: refactor HttpService
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/token_cache.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/http_service.dart
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
Labels: clerk_auth, clerk_flutter

#144 feat: add timeouts to loading overlay [#142]
  .github/workflows/main.yaml
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/utils/clerk_auth_config.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_loading_overlay.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_overlay_host.dart
  packages/clerk_flutter/lib/src/widgets/ui/common.dart
  packages/clerk_flutter/test/clerk_flutter_test.dart
  packages/clerk_flutter/test/widgets/clerk_loading_overlay_test.dart
Labels: clerk_flutter

#154 chore: release v0.0.7-dev
  packages/clerk_auth/CHANGELOG.md
  packages/clerk_auth/lib/src/_version.dart
  packages/clerk_auth/pubspec.yaml
  packages/clerk_flutter/CHANGELOG.md
  packages/clerk_flutter/pubspec.yaml
Labels: release

#159 chore: release v0.0.8-beta
  .github/workflows/main.yaml
  openapi_generator/openapi-generator-config.json
  packages/clerk_auth/CHANGELOG.md
  packages/clerk_auth/README.md
  packages/clerk_auth/lib/src/_version.dart
  packages/clerk_auth/pubspec.yaml
  packages/clerk_backend_api/CHANGELOG.md
  packages/clerk_backend_api/LICENSE
  packages/clerk_backend_api/pubspec.yaml
  packages/clerk_flutter/CHANGELOG.md
  packages/clerk_flutter/README.md
  packages/clerk_flutter/pubspec.yaml
  pubspec.yaml
Labels: clerk_auth, clerk_flutter, clerk_backend_api
