Repository clerk/clerk-sdk-flutter, pull requests merged in 2025-08, with the labels that each got.

#228 fix: update sessiontokenstream when session token is updated [#221]
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
Labels: bug, clerk_auth

#229 fix: allow obscuration on sign in password to be togglable [#223]
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
Labels: bug, clerk_flutter

#230 fix: remove branding if required in dashboard [#224]
  packages/clerk_flutter/lib/src/widgets/ui/clerk_two_panel_view.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_vertical_card.dart
Labels: bug, clerk_flutter

#234 fix: enable legal consent confirmation [#222]
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_flutter/l10n/en.arb
  packages/clerk_flutter/lib/src/generated/clerk_sdk_localizations.dart
  packages/clerk_flutter/lib/src/generated/clerk_sdk_localizations_en.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_authentication.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_up_panel.dart
Labels: bug, clerk_flutter

#231 fix: allow landscape logos to look better in components [#225]
  packages/clerk_flutter/lib/src/widgets/ui/clerk_panel_header.dart
Labels: bug, clerk_flutter

#242 fix: add redirecturl to auth.attemptsignup [#241]
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/models/client/field.dart
  packages/clerk_auth/lib/src/models/client/strategy.dart
  packages/clerk_auth/lib/src/models/environment/environment.dart
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/example/lib/pages/clerk_sign_in_example.dart
  packages/clerk_flutter/l10n/en.arb
  packages/clerk_flutter/lib/generated/clerk_sdk_localizations.dart
  packages/clerk_flutter/lib/generated/clerk_sdk_localizations_en.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_forgotten_password_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_up_panel.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_vertical_card.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile.dart
Labels: bug, clerk_auth

#250 fix: update tokens after reading/creating client [#244]
  packages/clerk_auth/lib/src/clerk_api/api.dart
Labels: bug, clerk_auth

#251 fix: ensure all params are trimmed [#236]
  packages/clerk_auth/lib/src/clerk_api/api.dart
Labels: bug, clerk_auth

#257 fix: ensure decoding of UserPublic.identifier is optional [#256]
  packages/clerk_auth/lib/src/models/client/user_public.dart
  packages/clerk_auth/lib/src/models/client/user_public.g.dart
  packages/clerk_auth/test/integration/clerk_api/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
Labels: bug, clerk_auth

#258 chore: release v0.0.12-beta
  packages/clerk_auth/CHANGELOG.md
  packages/clerk_auth/lib/src/_version.dart
  packages/clerk_auth/pubspec.yaml
  packages/clerk_backend_api/CHANGELOG.md
  packages/clerk_backend_api/pubspec.yaml
  packages/clerk_flutter/CHANGELOG.md
  packages/clerk_flutter/example/pubspec.yaml
  packages/clerk_flutter/pubspec.yaml
  pubspec.yaml
Labels: clerk_auth, clerk_flutter, release, clerk_backend_api
