Repository clerk/clerk-sdk-flutter, pull requests merged in 2025-01, with the labels that each got.

#92 fix: remove favicon_image from display_config [#88]
  packages/clerk_auth/lib/src/models/client.g.dart
  packages/clerk_auth/lib/src/models/email.g.dart
  packages/clerk_auth/lib/src/models/environment/display_config.dart
  packages/clerk_auth/lib/src/models/environment/display_config.g.dart
  packages/clerk_auth/lib/src/models/factor.g.dart
  packages/clerk_auth/lib/src/models/organization.g.dart
  packages/clerk_auth/lib/src/models/organization_membership.g.dart
  packages/clerk_auth/lib/src/models/passkey.g.dart
  packages/clerk_auth/lib/src/models/phone_number.g.dart
  packages/clerk_auth/lib/src/models/session.g.dart
  packages/clerk_auth/lib/src/models/sign_in.g.dart
  packages/clerk_auth/lib/src/models/sign_up.g.dart
  packages/clerk_auth/lib/src/models/user.g.dart
  packages/clerk_auth/lib/src/models/verification.g.dart
  packages/clerk_auth/lib/src/models/web3_wallet.g.dart
Labels: clerk_auth

#91 fix: change sendfile to sendbytestream [#79]
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_auth/http_client.dart
  packages/clerk_auth/pubspec.yaml
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
Labels: clerk_auth, clerk_flutter

#94 feat: add telemetry [#81]
  packages/clerk_auth/example/main.dart
  packages/clerk_auth/lib/clerk_auth.dart
  packages/clerk_auth/lib/clerk_constants.dart
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/telemetry.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/http_service.dart
  packages/clerk_auth/lib/src/models/client.g.dart
  packages/clerk_auth/lib/src/models/email.g.dart
  packages/clerk_auth/lib/src/models/enums.dart
  packages/clerk_auth/lib/src/models/enums.g.dart
  packages/clerk_auth/lib/src/models/environment/display_config.dart
  packages/clerk_auth/lib/src/models/environment/display_config.g.dart
  packages/clerk_auth/lib/src/models/factor.g.dart
  packages/clerk_auth/lib/src/models/organization.g.dart
  packages/clerk_auth/lib/src/models/organization_membership.g.dart
  packages/clerk_auth/lib/src/models/passkey.g.dart
  packages/clerk_auth/lib/src/models/phone_number.g.dart
  packages/clerk_auth/lib/src/models/session.g.dart
  packages/clerk_auth/lib/src/models/sign_in.g.dart
  packages/clerk_auth/lib/src/models/sign_up.g.dart
  packages/clerk_auth/lib/src/models/telemetry/telemetric_event.dart
  packages/clerk_auth/lib/src/models/telemetry/telemetric_event.g.dart
  packages/clerk_auth/lib/src/models/user.g.dart
  packages/clerk_auth/lib/src/models/verification.g.dart
  packages/clerk_auth/lib/src/models/web3_wallet.g.dart
  packages/clerk_auth/lib/src/utils/extensions.dart
  packages/clerk_auth/lib/src/version.dart
  packages/clerk_auth/pubspec.yaml
  packages/clerk_auth/test/integration/clerk_api/environment_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_auth/test/unit/clerk_api/clerk_api_test.dart
  packages/clerk_flutter/lib/clerk_flutter.dart
  packages/clerk_flutter/lib/src/clerk_auth_provider.dart
  packages/clerk_flutter/lib/src/utils/clerk_telemetry.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_authentication_widget.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_out_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_up_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sso_panel.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth_builder.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_signed_in.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_signed_out.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile_widget.dart
Labels: clerk_auth, clerk_flutter

#95 fix: remove dependency on inset-box-shadow [#87]
  packages/clerk_flutter/lib/src/widgets/common.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_panel.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_phone_number_form_field.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_text_form_field.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile_widget.dart
  packages/clerk_flutter/pubspec.yaml
Labels: clerk_flutter

#100 feat: rename ClerkAuthProvider to ClerkAuthState to clarify its usage #99
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/test/integration/clerk_api/environment_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_flutter/lib/clerk_flutter.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_out_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_up_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sso_panel.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth_builder.dart
  packages/clerk_flutter/lib/src/widgets/screens/add_account_screen.dart
  packages/clerk_flutter/lib/src/widgets/screens/manage_account_screen.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_error_listener.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_input_dialog.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile.dart
Labels: enhancement, clerk_auth, clerk_flutter, chore

#101 chore: release v0.0.5-dev #57
  packages/clerk_auth/CHANGELOG.md
  packages/clerk_auth/analysis_options.yaml
  packages/clerk_auth/build.yaml
  packages/clerk_auth/pubspec.yaml
  packages/clerk_flutter/CHANGELOG.md
  packages/clerk_flutter/pubspec.yaml
Labels: release

#104 fix: make clerkauthstate available in clerk_auth telemetry [#103]
  packages/clerk_flutter/lib/src/utils/clerk_telemetry.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
Labels: bug, clerk_flutter

#103 feat: improve user update [#98]
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/models/environment/auth_config.dart
  packages/clerk_auth/lib/src/models/environment/auth_config.g.dart
  packages/clerk_auth/lib/src/models/user.dart
  packages/clerk_auth/lib/src/models/user.g.dart
  packages/clerk_auth/lib/src/version.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile.dart
Labels: clerk_auth, clerk_flutter

#107 chore: release v0.0.6-dev
  packages/clerk_auth/CHANGELOG.md
  packages/clerk_auth/lib/src/version.dart
  packages/clerk_auth/pubspec.yaml
  packages/clerk_flutter/CHANGELOG.md
  packages/clerk_flutter/pubspec.yaml
Labels: release
