Repository clerk/clerk-sdk-flutter, pull requests merged in 2025-02, with the labels that each got.

#119 feat: add external accounts to user profile and start connect account jounney [118]
  packages/clerk_auth/example/main.dart
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/token_cache.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/models/api/api_response.dart
  packages/clerk_auth/lib/src/models/client.dart
  packages/clerk_auth/lib/src/models/client/client.dart
  packages/clerk_auth/lib/src/models/client/client.g.dart
  packages/clerk_auth/lib/src/models/client/email.dart
  packages/clerk_auth/lib/src/models/client/email.g.dart
  packages/clerk_auth/lib/src/models/client/external_account.dart
  packages/clerk_auth/lib/src/models/client/external_account.g.dart
  packages/clerk_auth/lib/src/models/client/field.dart
  packages/clerk_auth/lib/src/models/client/organization.dart
  packages/clerk_auth/lib/src/models/client/organization.g.dart
  packages/clerk_auth/lib/src/models/client/organization_membership.dart
  packages/clerk_auth/lib/src/models/client/organization_membership.g.dart
  packages/clerk_auth/lib/src/models/client/passkey.dart
  packages/clerk_auth/lib/src/models/client/passkey.g.dart
  packages/clerk_auth/lib/src/models/client/phone_number.dart
  packages/clerk_auth/lib/src/models/client/phone_number.g.dart
  packages/clerk_auth/lib/src/models/client/session.dart
  packages/clerk_auth/lib/src/models/client/session.g.dart
  packages/clerk_auth/lib/src/models/client/session_token.dart
  packages/clerk_auth/lib/src/models/client/sign_in.dart
  packages/clerk_auth/lib/src/models/client/sign_in.g.dart
  packages/clerk_auth/lib/src/models/client/sign_up.dart
  packages/clerk_auth/lib/src/models/client/sign_up.g.dart
  packages/clerk_auth/lib/src/models/client/strategy.dart
  packages/clerk_auth/lib/src/models/client/user.dart
  packages/clerk_auth/lib/src/models/client/user.g.dart
  packages/clerk_auth/lib/src/models/client/verification.dart
  packages/clerk_auth/lib/src/models/client/verification.g.dart
  packages/clerk_auth/lib/src/models/client/web3_wallet.dart
  packages/clerk_auth/lib/src/models/client/web3_wallet.g.dart
  packages/clerk_auth/lib/src/models/enums.dart
  packages/clerk_auth/lib/src/models/enums.g.dart
  packages/clerk_auth/lib/src/models/environment/environment.dart
  packages/clerk_auth/lib/src/utils/extensions.dart
  packages/clerk_auth/lib/src/utils/json_serialization_helpers.dart
  packages/clerk_auth/test/integration/clerk_api/environment_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/unit/clerk_api/clerk_api_test.dart
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/lib/clerk_flutter.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/utils/clerk_translator.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_authentication_widget.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sso_panel.dart
  packages/clerk_flutter/lib/src/widgets/common.dart
  packages/clerk_flutter/lib/src/widgets/screens/add_account_screen.dart
  packages/clerk_flutter/lib/src/widgets/screens/connect_account_screen.dart
  packages/clerk_flutter/lib/src/widgets/ui/social_connection_button.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile.dart
Labels: clerk_auth, clerk_flutter

#126 fix: remove dependency on alertdialog [#80]
  packages/clerk_auth/lib/src/models/client/organization_membership.dart
  packages/clerk_auth/lib/src/models/client/organization_membership.g.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_input_dialog.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_material_button.dart
Labels: clerk_flutter

#129 fix: bugs in sign up flow [#127]
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/auth_error.dart
  packages/clerk_auth/lib/src/models/client/field.dart
  packages/clerk_auth/lib/src/models/client/sign_up.dart
  packages/clerk_auth/lib/src/models/client/sign_up.g.dart
  packages/clerk_auth/lib/src/models/client/strategy.dart
  packages/clerk_auth/lib/src/models/client/user.dart
  packages/clerk_auth/lib/src/models/enums.dart
  packages/clerk_auth/lib/src/models/environment/password_settings.dart
  packages/clerk_auth/lib/src/utils/extensions.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/utils/clerk_translator.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_up_panel.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_error_listener.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_code_input.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_input_dialog.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_phone_number_form_field.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_text_form_field.dart
  packages/clerk_flutter/lib/src/widgets/ui/closeable.dart
  packages/clerk_flutter/lib/src/widgets/ui/common.dart
  packages/clerk_flutter/lib/src/widgets/ui/input_label.dart
  packages/clerk_flutter/lib/src/widgets/ui/multi_digit_code_input.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile.dart
Labels: bug, clerk_auth, clerk_flutter

#130 fix: mark all models as immutable [#113]
  packages/clerk_auth/lib/src/models/api/api_error.dart
  packages/clerk_auth/lib/src/models/api/api_response.dart
  packages/clerk_auth/lib/src/models/client/client.dart
  packages/clerk_auth/lib/src/models/client/email.dart
  packages/clerk_auth/lib/src/models/client/external_account.dart
  packages/clerk_auth/lib/src/models/client/factor.dart
  packages/clerk_auth/lib/src/models/client/field.dart
  packages/clerk_auth/lib/src/models/client/organization.dart
  packages/clerk_auth/lib/src/models/client/organization_membership.dart
  packages/clerk_auth/lib/src/models/client/passkey.dart
  packages/clerk_auth/lib/src/models/client/phone_number.dart
  packages/clerk_auth/lib/src/models/client/session.dart
  packages/clerk_auth/lib/src/models/client/session_token.dart
  packages/clerk_auth/lib/src/models/client/sign_in.dart
  packages/clerk_auth/lib/src/models/client/sign_up.dart
  packages/clerk_auth/lib/src/models/client/strategy.dart
  packages/clerk_auth/lib/src/models/client/user.dart
  packages/clerk_auth/lib/src/models/client/user_public.dart
  packages/clerk_auth/lib/src/models/client/verification.dart
  packages/clerk_auth/lib/src/models/client/web3_wallet.dart
  packages/clerk_auth/lib/src/models/environment/actions.dart
  packages/clerk_auth/lib/src/models/environment/attack_protection.dart
  packages/clerk_auth/lib/src/models/environment/auth_config.dart
  packages/clerk_auth/lib/src/models/environment/display_config.dart
  packages/clerk_auth/lib/src/models/environment/environment.dart
  packages/clerk_auth/lib/src/models/environment/organization_actions.dart
  packages/clerk_auth/lib/src/models/environment/organization_domains.dart
  packages/clerk_auth/lib/src/models/environment/organization_settings.dart
  packages/clerk_auth/lib/src/models/environment/passkey_settings.dart
  packages/clerk_auth/lib/src/models/environment/password_settings.dart
  packages/clerk_auth/lib/src/models/environment/restrictions.dart
  packages/clerk_auth/lib/src/models/environment/sign_in_settings.dart
  packages/clerk_auth/lib/src/models/environment/sign_up_settings.dart
  packages/clerk_auth/lib/src/models/environment/social_connection.dart
  packages/clerk_auth/lib/src/models/environment/user_attribute_data.dart
  packages/clerk_auth/lib/src/models/environment/user_settings.dart
  packages/clerk_auth/lib/src/models/environment/username_settings.dart
  packages/clerk_auth/lib/src/models/telemetry/telemetric_event.dart
  packages/clerk_auth/pubspec.yaml
Labels: clerk_auth

#131 fix: add failed status to enum [#112]
  packages/clerk_auth/lib/src/models/client/session.g.dart
  packages/clerk_auth/lib/src/models/client/sign_in.g.dart
  packages/clerk_auth/lib/src/models/client/sign_up.g.dart
  packages/clerk_auth/lib/src/models/client/verification.g.dart
  packages/clerk_auth/lib/src/models/enums.dart
  packages/clerk_auth/lib/src/models/enums.g.dart
Labels: clerk_auth

#136 fix: connecting a new account [#121]
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/models/client/external_account.dart
  packages/clerk_auth/lib/src/models/client/verification.dart
  packages/clerk_auth/lib/src/models/client/verification.g.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_error_listener.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile.dart
  packages/clerk_flutter/lib/src/widgets/user/connect_account_panel.dart
Labels: clerk_flutter

#135 fix: surface server errors in the ui [#122]
  packages/clerk_auth/lib/clerk_auth.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/widgets/organization/clerk_organization_list.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
Labels: clerk_auth, clerk_flutter

#134 feat: replace parameters with config object [#120]
  packages/clerk_auth/.gitignore
  packages/clerk_auth/README.md
  packages/clerk_auth/example/main.dart
  packages/clerk_auth/lib/clerk_auth.dart
  packages/clerk_auth/lib/src/clerk_api/api.dart
  packages/clerk_auth/lib/src/clerk_api/telemetry.dart
  packages/clerk_auth/lib/src/clerk_api/token_cache.dart
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/auth_config.dart
  packages/clerk_auth/lib/src/clerk_auth/auth_error.dart
  packages/clerk_auth/lib/src/clerk_auth/http_service.dart
  packages/clerk_auth/lib/src/clerk_constants.dart
  packages/clerk_auth/lib/src/models/client/user.dart
  packages/clerk_auth/lib/src/models/environment.dart
  packages/clerk_auth/lib/src/models/environment/config.dart
  packages/clerk_auth/lib/src/models/environment/config.g.dart
  packages/clerk_auth/lib/src/models/environment/environment.dart
  packages/clerk_auth/lib/src/models/environment/environment.g.dart
  packages/clerk_auth/lib/src/utils/extensions.dart
  packages/clerk_auth/lib/src/utils/logging.dart
  packages/clerk_auth/test/integration/clerk_api/environment_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/test_helpers.dart
  packages/clerk_auth/test/unit/clerk_api/clerk_api_test.dart
  packages/clerk_flutter/README.md
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/lib/clerk_flutter.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/utils/clerk_auth_config.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_authentication.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_out_panel.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_up_panel.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_auth.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_error_listener.dart
  packages/clerk_flutter/lib/src/widgets/organization/clerk_organization_list.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_action_row.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_input_dialog.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_vertical_card.dart
  packages/clerk_flutter/lib/src/widgets/ui/style/colors.dart
  packages/clerk_flutter/lib/src/widgets/user/add_account_panel.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_button.dart
  packages/clerk_flutter/lib/src/widgets/user/clerk_user_profile.dart
  packages/clerk_flutter/lib/src/widgets/user/connect_account_panel.dart
Labels: clerk_auth, clerk_flutter

#139 fix: amalgamate closeable and animatedcloseable [#138]
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/auth_error.dart
  packages/clerk_flutter/README.md
  packages/clerk_flutter/example/lib/main.dart
  packages/clerk_flutter/lib/src/clerk_auth_state.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_in_panel.dart
  packages/clerk_flutter/lib/src/widgets/control/clerk_error_listener.dart
  packages/clerk_flutter/lib/src/widgets/organization/clerk_organization_list.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_loading_overlay.dart
  packages/clerk_flutter/lib/src/widgets/ui/clerk_text_form_field.dart
  packages/clerk_flutter/lib/src/widgets/ui/closeable.dart
Labels: clerk_flutter

#145 fix: add translations for sign in error [#143]
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/models/status.dart
  packages/clerk_flutter/l10n/en.arb
  packages/clerk_flutter/lib/src/generated/clerk_sdk_localizations.dart
  packages/clerk_flutter/lib/src/generated/clerk_sdk_localizations_en.dart
  packages/clerk_flutter/lib/src/utils/localization_extensions.dart
Labels: clerk_auth, clerk_flutter

#146 fix: add toString to models [#140]
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_auth/lib/src/clerk_auth/auth_error.dart
  packages/clerk_auth/lib/src/models/api/api_error.dart
  packages/clerk_auth/lib/src/models/api/api_response.dart
  packages/clerk_auth/lib/src/models/client/client.dart
  packages/clerk_auth/lib/src/models/client/email.dart
  packages/clerk_auth/lib/src/models/client/external_account.dart
  packages/clerk_auth/lib/src/models/client/factor.dart
  packages/clerk_auth/lib/src/models/client/field.dart
  packages/clerk_auth/lib/src/models/client/organization.dart
  packages/clerk_auth/lib/src/models/client/organization_membership.dart
  packages/clerk_auth/lib/src/models/client/passkey.dart
  packages/clerk_auth/lib/src/models/client/phone_number.dart
  packages/clerk_auth/lib/src/models/client/session.dart
  packages/clerk_auth/lib/src/models/client/session_token.dart
  packages/clerk_auth/lib/src/models/client/sign_in.dart
  packages/clerk_auth/lib/src/models/client/sign_up.dart
  packages/clerk_auth/lib/src/models/client/strategy.dart
  packages/clerk_auth/lib/src/models/client/user.dart
  packages/clerk_auth/lib/src/models/client/user_identifying_data.dart
  packages/clerk_auth/lib/src/models/client/user_public.dart
  packages/clerk_auth/lib/src/models/client/verification.dart
  packages/clerk_auth/lib/src/models/client/web3_wallet.dart
  packages/clerk_auth/lib/src/models/environment/actions.dart
  packages/clerk_auth/lib/src/models/environment/attack_protection.dart
  packages/clerk_auth/lib/src/models/environment/config.dart
  packages/clerk_auth/lib/src/models/environment/display_config.dart
  packages/clerk_auth/lib/src/models/environment/environment.dart
  packages/clerk_auth/lib/src/models/environment/organization_actions.dart
  packages/clerk_auth/lib/src/models/environment/organization_domains.dart
  packages/clerk_auth/lib/src/models/environment/organization_settings.dart
  packages/clerk_auth/lib/src/models/environment/passkey_settings.dart
  packages/clerk_auth/lib/src/models/environment/password_settings.dart
  packages/clerk_auth/lib/src/models/environment/restrictions.dart
  packages/clerk_auth/lib/src/models/environment/sign_in_settings.dart
  packages/clerk_auth/lib/src/models/environment/sign_up_settings.dart
  packages/clerk_auth/lib/src/models/environment/social_connection.dart
  packages/clerk_auth/lib/src/models/environment/user_attribute_data.dart
  packages/clerk_auth/lib/src/models/environment/user_settings.dart
  packages/clerk_auth/lib/src/models/environment/username_settings.dart
  packages/clerk_auth/lib/src/models/informative_to_string_mixin.dart
  packages/clerk_auth/lib/src/models/telemetry/telemetric_event.dart
  packages/clerk_auth/test/integration/clerk_api/environment_test.dart
  packages/clerk_auth/test/integration/clerk_api/sign_up_test.dart
  packages/clerk_auth/test/integration/clerk_api/user_details_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_in_test.dart
  packages/clerk_auth/test/integration/clerk_auth/sign_up_test.dart
  packages/clerk_auth/test/unit/utils/logging_test.dart
  packages/clerk_flutter/l10n/en.arb
  packages/clerk_flutter/lib/src/generated/clerk_sdk_localizations.dart
  packages/clerk_flutter/lib/src/generated/clerk_sdk_localizations_en.dart
  packages/clerk_flutter/lib/src/widgets/authentication/clerk_sign_up_panel.dart
  packages/clerk_flutter/lib/src/widgets/ui/strategy_button.dart
Labels: clerk_auth

#148 fix: refactor attemptSignIn [#147]
  packages/clerk_auth/lib/src/clerk_auth/auth.dart
  packages/clerk_flutter/lib/src/utils/localization_extensions.dart
Labels: clerk_auth
